<div style="width: 110px; display: inline-block; margin-right: 10px;">
  <a style="color: #1a0dab; font-weight: normal; line-height: 1.2; text-align: left; font-size: 18px; text-decoration: none;" href="{LINK}" title="{TITLE}">
    <img src="{IMAGE_LINK}" style="width: 100px; height: 100px;" data-id={ID} />
    <p style="margin-top: 0px; margin-bottom: 5px; font-size: 16px;">{SHORT_TITLE}</p>
    <p style="margin-top: 0px; font-size: 16px; color: #222; font-weight: bold; text-align: left;">{PRICE}<span style="margin-left: 3px;">&euro;</span></p>
  </a>
</div>
